{% extends "layout.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}App home{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-nav mr-auto">
            {{ render_nav_item('index', 'Home') }}

            {% if current_user.is_anonymous %}
            {{ render_nav_item('login', 'Login') }}
            {% endif %}
            
            {% if current_user.is_authenticated %}
            {{ render_nav_item('logout', 'Log out') }}
            {% endif %}

        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
{{ super() }}
<div class="container">

    <h1>Welcome!</h1>

</div>
{% endblock %}
