{% extends "layout.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}App add_note{% endblock %}


{% block content %}
{{ super() }}
<div class="d-inline-flex">

    {% for note in notes %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Title: {{ note.title }}</h5>
            <p class="card-text">Note: {{ note.content }}</p>
            
            {% if note.label_id %}
            <div>
                <p class="card-text text-info">Label: {{ note.label_id }}</p>
            </div>
            {% endif %}
            <a href="/delete/note/{{note.id}}" class="btn btn-danger btn-delete">
                delete note
            </a>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}