{% extends "layout.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Add note{% endblock %}

{% block content %}
{{ super() }}
<div class="d-inline-flex">
    {{ render_form(form, method='GET') }}

    <div class="d-inline-flex">
        {% for note in notes %}
        <div class="card mx-1" style="width: 14rem;">
            <div class="card-body">
                <h5 class="card-title">Title: {{ note.title }}</h5>
                <p class="card-text">Note content: {{ note.content }}</p>
                <div>
                    <p class="card-text text-info">Label: {{ note.label_name }}</p>
                </div>
                <div class="container d-flex">
                    <a href="/delete/note/{{note.id}}" class="btn btn-danger btn-delete">
                        delete
                    </a>
                    <a href="/edit_note/{{note.id}}" class="btn btn-warning btn-delete">
                        edit
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}

</div>

{% endblock %}